<a href="https://colab.research.google.com/github/deelilah/Test/blob/main/Rose_UnsupervisedMl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#load data into csv
whr=pd.read_csv('happiness_report.csv')
whr.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410
2             3            Norway  ...       0.271                      0.341
3             4           Iceland  ...       0.354                      0.118
4             5       Netherlands  ...       0.322                      0.298

[5 rows x 9 columns]

In [ ]:
whr.shape

(156, 9)

In [ ]:
whr[whr['Country or region']== 'Kenya']

     Overall rank Country or region  ...  Generosity  Perceptions of corruption
120           121             Kenya  ...       0.372                      0.053

[1 rows x 9 columns]

In [ ]:
data.shape